<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
          <th scope="col">Header</th>
          <th scope="col">Header</th>
          <th scope="col" colspan="2">Header</th>
        </tr>
        <tr>
          <th scope="row">&nbsp;</th>
          <td>&nbsp;</td>
          <!-- The following two cells will appear under the same header -->
          <td>Col 1</td>
          <td>Col 2</td>
        </tr>
      </table>
</body>
</html>